.venv/
venv/

__pycache__/
*.py[cod]
*$py.class


.ipynb_checkpoints/


.env


*.db
*.sqlite
*.sqlite3


logs/
*.log


.pytest_cache/
.coverage
htmlcov/
coverage.xml


.vscode/
.idea/


.DS_Store
Thumbs.db


build/
dist/
*.egg-info/


data/output/*
!data/output/.gitkeep


data/raw/.gitkeep
data/processed/.gitkeep
logs/.gitkeep
reports/.gitkeep